a {
    color : mediumslateblue;
    text-decoration: none;
 
  }
  h1{
     border: 1px gainsboro solid ;
     background-color: gainsboro;
     margin: 50px;
     text-align: center;
     font-size: 70px; 
     line-height: 250px;
     
 }
 
 nav ol{
     border-right: 1px black solid;
     width: 100px;
     height: 200px;
     margin: 0px;
     padding: 20px;
 }
 h3{
     text-align: right;
     padding-right: 50;
 }
 #grid{
     display: grid;
     grid-template-columns: 200px 1fr;
 
 }
 @media(max-width: 800px){
     #grid{
         display: block;
     }
     nav ol{
     border-right: none;
           }
 }